<% if (locals.user){ %>

    <div id="chat-sec"> 

        <div class="fabs">
            <div class="chat">
              <div class="chat_header">
                <div class="chat_option">

                <div class="header_img">
                  <img src="<%= user.avatar %>" >
                  </div>

                  <span id="chat_head">Codeial</span> <br> <span class="agent"></span> Chatroom</span> <span class="online">(Online)</span>

                  <span id="chat_fullscreen_loader" class="chat_fullscreen_loader"><i class="fullscreen zmdi zmdi-window-maximize"></i></span>
          
                </div>
          
              </div>
        
        
        
              <div class="chat_body chat_login">
                  <a id="chat_first_screen" class="fab"><i class="zmdi zmdi-arrow-right"></i></a>
                  <p>Be respectful!
                      <br>
                    Always remember to keep your information private.
                      <br>
                      <br>
                      <span id="ban"> Misconduct may lead to your account being </span>
                      banned.
                </p>
              </div>

              <!-- Ul Div -->



              <div id="user-chat-box">
 
                <div id="chat_converse" class="chat_conversion chat_converse">

                    <ul id="chat-messages-list">

                        <li>
                            <span class="chat_msg_item chat_msg_item_admin">
                                <!-- <div class="chat_avatar">
                                   <img src="/images/user.jpg"/>
                                </div> -->
                                Hey there! Welcome to Codeial chatroom.
                            </span>
                            <span class="status3"> Team Codeial  </span>

                            

                        </li>

                        <!-- <li>
                            <span class="chat_msg_item chat_msg_item_user">
                                Hello!
                            </span>
                            <span class="status">20m ago</span>

                        </li> -->


                        <!-- <li>
                            <span class="chat_msg_item chat_msg_item_admin">
                                <div class="chat_avatar">
                                   <img src="/images/user.jpg"/>
                                </div>Hey! Would you like to talk sales, support, or anyone?
                            </span>

                        </li>

                        <li>
                            <span class="chat_msg_item chat_msg_item_user">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                                 <span class="status2">Just now. Not seen yet
                            </span>    

                        </li> -->
                            
                    </ul>
                    
                </div>

              </div>

              
              <div class="fab_field">
        
                  <!-- camera hidden -->
                <!-- <a id="fab_camera" class="fab"><i class="zmdi zmdi-camera"></i></a> -->
        
                <a id="fab_send" class="fab"> a<i class="zmdi zmdi-mail-send"></i>a </a>

                <textarea id="chatSend" name="chat_message" placeholder="Send a message" class="chat_field chat_message"></textarea>

              </div>




            </div>

			

              <a id="prime" class="fab"><i class="prime zmdi zmdi-comment-outline"></i></a>
          </div>
           
    
          <script src="/js/chat.js" ></script>
    
    </div>
    
<% } %>