<link rel="stylesheet" href="/css/chat.css">


<div id="chat-sec"> 

	<div class="fabs">
		<div class="chat">
		  <div class="chat_header">
			<div class="chat_option">
			<div class="header_img">
			  <img src="/images/user.jpg" >
			  </div>
			  <span id="chat_head">Jane Doe</span> <br> <span class="agent">Agent</span> <span class="online">(Online)</span>
			 <span id="chat_fullscreen_loader" class="chat_fullscreen_loader"><i class="fullscreen zmdi zmdi-window-maximize"></i></span>
	  
			</div>
	  
		  </div>
	
	
	
		  <div class="chat_body chat_login">
			  <a id="chat_first_screen" class="fab"><i class="zmdi zmdi-arrow-right"></i></a>
			  <p>We make it simple and seamless for businesses and people to talk to each other. Ask us anything</p>
		  </div>
		  <div id="chat_converse" class="chat_conversion chat_converse">
	
			<span class="chat_msg_item chat_msg_item_admin">
				  <div class="chat_avatar">
					 <img src="/images/user.jpg"/>
				  </div>Hey there! Any question?</span>
			<span class="chat_msg_item chat_msg_item_user">
				  Hello!</span>
				  <span class="status">20m ago</span>
			<span class="chat_msg_item chat_msg_item_admin">
				  <div class="chat_avatar">
					 <img src="/images/user.jpg"/>
				  </div>Hey! Would you like to talk sales, support, or anyone?</span>
			<span class="chat_msg_item chat_msg_item_user">
				  Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
				   <span class="status2">Just now. Not seen yet</span>
		  </div>
	
		  <div class="fab_field">
	
			  <!-- camera hidden -->
			<!-- <a id="fab_camera" class="fab"><i class="zmdi zmdi-camera"></i></a> -->
	
			<a id="fab_send" class="fab"><i class="zmdi zmdi-mail-send"></i></a>
			<textarea id="chatSend" name="chat_message" placeholder="Send a message" class="chat_field chat_message"></textarea>
		  </div>
		</div>
		  <a id="prime" class="fab"><i class="prime zmdi zmdi-comment-outline"></i></a>
	  </div>
	   

	  <script src="/js/chat.js" ></script>

</div>
