    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- For development -->
    <link rel="stylesheet" href="/css/users.css">


  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">Codeial</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>

    <ul class="nav-list">
      
      <li>
        <a href='/'>
          <i class='bx bx-grid-alt' id="d"></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>


      <li>
       <a href="/users/profile/<%= user.id%>">
         <i class='bx bx-user' id="d" ></i>
         <span class="links_name">User Profile</span>
       </a>
       <span class="tooltip">Profile</span>
     </li>

      <li>
       <a href="/users/allUsers/<%= user.id%>">
         <!-- <i class='bx bx-user' id="d" ></i> -->
         <i class="fas fa-users" id="d"></i>
         <span class="links_name">All Users</span>
       </a>
       <span class="tooltip">All Users</span>
     </li>

     
     <li>
       <a href="/users/profile/<%= user.id%>">
         <!-- <i class='bx bx-chat' id="d" ></i> -->
         <i class="fas fa-user-friends" id="d" ></i>
         <span class="links_name">Friends</span>
       </a>
       <span class="tooltip">Friends</span>
     </li>
     
     <li>
       <a href="/users/notifications/<%= user.id%>">
         <!-- <i class='bx bx-heart' id="d" ></i> -->
         <i class="far fa-bell" id="d" ></i>
         <span class="links_name">Notification</span>
       </a>
       <span class="tooltip">Notification</span>
     </li>

     <li>
       <a href="https://github.com/Kunal1358/Codeial">
        <i class="fa fa-github" style="font-size:27px" id="d" ></i>
         <span class="links_name">Github</span>
       </a>
       <span class="tooltip">Github</span>
     </li>

     <li class="profile">
      <div class="profile-details">
        <div class="name_job">
          <div class="name">Logout</div>

        </div>
      </div>
      
      <a href="/" id="log">
        <i class='bx bx-log-out logOut ' id="log_out" ></i>
      </a>

  </li>

     
    </ul>
  </div>



  
  <!-- Add text Here -->
  <section class="home-section"> 
      <div class="text"> 

        <p> Slide Me</p>

       </div>

  </section>




  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>

