<script src="https://kit.fontawesome.com/3e77aa9250.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/friends.css">



<div id="friends-list-container-main" >

    <p id="friends-list-container" >


        <span id="icon" >
            <!-- <i class="fas fa-window-close fa-2x"> </i> -->
            <i class="fas fa-user-circle fa-1x"> </i>
        </span>
    
        <a href="/users/profile/<%= u.id %>"> <%= u.name %> </a>
    </p>

</div>