<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a id="codeial" class="un" href='/'>
                    Codeial
                </a>
            </p>
        </div>
    
        <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                <li>
                    <a class="link un" href="/users/profile/<%= user.id%>"><%= user.name %></a>
                </li>
                <li>
                    <a  class="link un" href="/users/sign-out">Sign Out</a>
                </li>
                <% }else{ %>
                <li>
                    <a  class="link un" href="/users/sign-in">Sign In</a>
                </li>
                <li>
                    <a class="link un " href="/users/sign-up">Sign Up</a>
                </li>
        
                <% } %>
            </ul>
        </div>
    </nav>
 
</header>