<h1> Hello</h1>
<h1> Hello</h1>
<h1> Hello</h1>
<h1> Hello</h1>
<h1> Hello</h1>
<h1> Hello</h1>

<h1 id="div1" > TO Be</h1>
<h1 id="div2" >Hidden </h1>






<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
// window.alert("Workisdfsdfsfng");
$(window).load(function(){
    window.alert("Worki-----------ng");
    console.log('Wrking================================================');
    myClick();
});


function myClick() {
  setTimeout(
    function() {
      document.getElementById('div1').style.display='none';
      document.getElementById('div2').style.backgroundColor ='red';
    }, 10000);
}

</script>