<script src="https://kit.fontawesome.com/3e77aa9250.js" crossorigin="anonymous"></script>


<!--  For development -->
<link rel="stylesheet" href="/css/foot.css">



		<footer class="footer-distributed">

			<div class="footer-right">

				<a ><i class="fa fa-facebook" id="Atag" ></i></a>
				<a ><i class="fa fa-twitter" id="Atag"  ></i></a>
				<a ><i class="fa fa-linkedin" id="Atag"  ></i></a>
				<a hred="https://github.com/Kunal1358/Codeial" ><i class="fa fa-github" id="Atag" ></i></a>
                <!-- <div class='back'>
                    <span>
                        <a href="#" id="alone">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i> Back to top
                        </a>
                    </span>
                </div> -->

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="#">Home</a>
					<a href="#">About</a>
					<a href="https://github.com/Kunal1358/Codeial">Contact</a>
				<!-- </p>

				<p>Company Name &copy; 2015</p> -->
			</div>


          </div>


		</footer>

            <div class="bottom-details">
                <div class="bottom_text">
                  <span class="copyright_text">Copyright © 2021 <a href="#">Codeial.</a>All rights reserved</span>
                  <span class="policy_terms">
                    <a href="#">Privacy policy</a>
                    <a href="#">Terms & condition</a>
                  </span>
                  
            </div>