<h3>Please provide the registered email. Link to reset password would be sent on that email:</h3>

<form action="/users/account-recovery" method="POST">
    <input type="email" name="email" placeholder="Registered Email" required>
    <button type="submit">Submit</button>
</form>