
<style>
    h1 {
        margin-top:100px;
        margin-left: 20px;
    }
</style>

<h1> Friends </h1>

<h3> <%= title %> </h3>


<form action="/test" method="post">
    <input type="submit" value="Test">
</form>
