<h1>
    Codeial / <%= title %>
</h1>


<section id ="feed-post">

    <h2>Post</h2>

    <form action="/posts/create" method="POST" id = "new-feed-post">

        <textarea name="content" cols="30" rows="5" placeholder="Type here..."></textarea>
        <input type="submit" value="Post">

    </form>

</section>