
<!-- For development -->
<link rel="stylesheet" href="/css/profile_shortcuts.css">




<div id="Profile-shortcuts">

    <h2 id="head" >Shortcuts</h2>

    <div id="shortcuts-links" >

        <div id="feed-post" > 
            <a href="/"> <i class="fas fa-house-user"></i> &nbsp;  &nbsp; Home </a>
        </div>
        <div>
            <a href="/users/allUsers/<%= profile_user.id%>"> <i class="fas fa-users"></i> &nbsp;  &nbsp; People </a>
        </div>

        <div id="Notification">
            <a href="/users/notifications/<%= user.id%>"> <i class="far fa-bell"></i> &nbsp;  &nbsp;  Notification </a>
            
        </div id="People">
        
    </div>
    
</div>


<!--  For development -->
<script src="/js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>



