<h1> Password Reset Form</h1>


<form action="/users/submit-new-password" method="POST">
    <input type="password" name="new_password" placeholder="New Password" required>
    <input type="password" name="confirm_new_password" placeholder="Confirm New Password" required>
    <input type="hidden" name="user_id" value="<%= user_token.user %>">
    <input type="hidden" name="token_id" value="<%= user_token._id %>">

    <button type="submit">Reset Password</button>
</form>