<style>
    
    body {
        padding-top: 100px;
        padding-left: 50px;
    }


</style>


<h4>
    The link to reset your password has been successfully sent on your registered email. 
    Please refer your email for further directions.
</h4>