<div>

    <p>Hi <%= post.user.name%>!</p>

    <h1> Post Deleted </h1>
    <h1> Post Deleted </h1>
    <h1> Post Deleted </h1>
    <h1> Post Deleted </h1>
    <h1> Post Deleted </h1>

    <br><br>

    <p>Your post <strong><%= post.content %></strong> just got deleted from codeial.</p>
    
    <br> <br>
    
    <p>Thanks!</p>

</div>