<div>

    <p>Hi <%= post.user.name%>!</p>

    <h1> Post Published</h1>

    <br><br>

    <p>Your post <strong><%= post.content %></strong> just got pubished on codeial.</p>
    
    <br> <br>
    
    <p>Thanks!</p>

</div>