#layout-header{
    font-family: sans-serif;
    nav{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        background: #2d7dbe;
        color: white;
        box-shadow: 1px 1px 1px 1px lightgrey;

        .mini-logo{
            p{
                margin: 5px;
                font-size: 1.4rem;
                font-weight: bold;
            }
        }

        .auth-links{
            ul{
                margin: 5% 10px;
                display: flex;

                li{
                    list-style: none;
                    margin-right: 10px;
                }
            }
        }

        a{
            color: white;
            text-decoration: none;
        }

    }
}