Hello <%= token.user.name %>,
<br>
<br>
Please click the below link to reset your Codeial account password. 
If this was not requested by you, kindly ignore.
<br><br>
<a href="http://localhost:8000/users/reset-password/<%= token.accessToken %>">Click here to reset password</a>
<br><br>
Regards!
<br>
Team Codeial
