<div>

    <p>Hi <%= comment.user.name%>!</p>

    <h1> Commet Deleted </h1>

    <br><br>

    <p>Your comment <strong><%= comment.content %></strong> just got deleted from codeial.</p>
    
    <br> <br>
    
    <p>Thanks!</p>

</div>