.comemnt-content {
  width: max-content;
  border-left: 2px solid #1b2e69;
  /* background-color: rgb(253, 245, 236); */
  background-color: #dbe4e7;
  list-style: square;
  margin-left: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  margin-bottom: 15px;
  padding-right: 25px;
}

#comment-content {
  display: inline-block;
  margin-top: 3px;
}

#comment-details {
  display: block;
  margin-top: 10px;
  border-left: 2px solid lightslategray;
  border-bottom: 2px solid lightslategray;
  margin-left: 10px;
  width: 250px;
  padding-left: 5px;
}

#comment-like-container {
  display: block;
  margin-top: 8px;
  margin-left: 10px;
  width: 75px;
  padding-left: 10px;
}

/* Comment Form */
.comment-form {
  border-left: 1px solid lightslategray;
  border-bottom: 1px solid lightslategray;
  margin-bottom: 15px;
  margin-top: 25px;
  width: 355px;
  padding: 2px;
}

/* #post-comments{

   border: 10px solid rgb(27, 46, 105);
    background-color: rgb(255, 0, 200);

    list-style: none;
} */
/* h1{
    background-color:chartreuse;
} */
