@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
* {
  font-family: Roboto;
}

/* 
section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 75vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;

  border: 8px solid cyan;

} */
/* position: absolute;
bottom: 0;
left:0; */
.footer-distributed {
  position: relative;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  height: 105px;
  padding-top: 10px;
  z-index: 5;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  /* border: 8px solid cyan; */
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: -4px -6px 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: -6px;
  max-width: 180px;
  /* border: 2px solid red; */
}

.footer-distributed .footer-right #Atag {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all .25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

.bottom-details {
  width: 100%;
  background: #292c2f;
  /* border-top: 2px solid white; */
}

.bottom-details .bottom_text {
  border-top: 3px solid gray;
  max-width: 100%;
  margin: auto;
  margin-left: 0px;
  padding: 10px 40px 10px;
  /* padding: 50px 50px 50px 50px; */
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

/* Back To top */
.back {
  float: right;
  color: #fff;
  width: 70%;
  padding-top: 18px;
  padding-right: 40px;
  padding-left: 20px;
}

#alone {
  text-decoration: none;
  color: white;
}

#alone:hover {
  text-decoration: underline;
}
