
#friends-list-container{
    border-right: 2px solid rebeccapurple;
    border-bottom: 2px solid rebeccapurple;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-shadow: 5px 6px #d4d1d1;
    margin-bottom: 25px;
}

#icon{
    padding-right: 11px;
}

#friends-list-container a{
   text-decoration: none;
   color: rgb(16, 228, 243);
}