body{
    margin: 0;
    text-align: center;
    background-color: wheat;
}

li{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */

    display: inline-block;
    float: left;
    padding-left:10px;
    
}