#home-container {
  display: flex;
}

#content {
  margin-top: 55px;
  width: 50%;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

#user-links {
  margin-top: 15px;
  width: 24%;
  background-color: #f4f2f2;
  display: block;
  border-right: 1px solid black;
}

#profile-form {
  border-top: 5px solid blueviolet;
  background-color: #f4f2f2;
}

#myProfile{
  font-family: Tahoma, sans-serif;
  margin-top: 18px;
  margin-bottom: 30px;
  font-size: 35px;
}

#myProfile:hover{

  text-decoration: underline;
  text-decoration-color: #c0f0f1;
  text-underline-offset: 6px;
}

#friendProfile{

  font-family: Tahoma, sans-serif;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 35px;
}


#right-container {

  border-left: 2px solid gray;
  margin-top: 55px;
  width: 26%;
  padding: 10px;

  border-left: 2px solid gray;
  margin-top: 55px;
  width: 26%;
  padding: 10px;


}

#codeial {
  color: #9870e8;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  margin-top: -11px;
}

#layout-header nav .auth-links ul {
  display: flex;
  list-style: none;
  margin-top: 13px;
}

img{
  border: none;
  border-radius: 8rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

img:hover{
    border-radius: 3rem;
} 